 404-page.html
        404-page.html.orig
        New shortcut.lnk
        aboutus-2.html
        aboutus-2.html.orig
        aboutus.html
        aboutus.html.orig
        agriculture-processing.html
        agriculture-processing.html.orig
        blog-2column-grid.html
        blog-2column-grid.html.orig
        blog-3column-grid.html
        blog-3column-grid.html.orig
        blog-4column-grid.html
        blog-4column-grid.html.orig
        blog-sidebar.html
        blog-sidebar.html.orig
        blog-single.html
        blog-single.html.orig
        cart-page.html
        cart-page.html.orig
        checkout-page.html
        checkout-page.html.orig
        chemical-engineering.html
        chemical-engineering.html.orig
        contact.html
        contact.html.orig
        faq-page.html
        faq-page.html.orig
        index-2.html
        index-2.html.orig
        index-3.html
        index-3.html.orig
        index-4.html
        index-4.html.orig
        index.html.orig
        login.html
        login.html.orig
        material-engineering.html
        material-engineering.html.orig
        mechanical-engineering.html
        mechanical-engineering.html.orig
        our-team.html
        our-team.html.orig
        package-lock.json
        petroleum-and-gas.html
        petroleum-and-gas.html.orig
        power-and-energy.html
        power-and-energy.html.orig
        pricing.html
        pricing.html.orig
        project-2column-fullwidth.html
        project-2column-fullwidth.html.orig
        project-2column-grid.html
        project-2column-grid.html.orig
        project-3column-fullwidth.html
        project-3column-fullwidth.html.orig
        project-3column-grid.html
        project-3column-grid.html.orig
        project-4column-fullwidth.html
        project-4column-fullwidth.html.orig
        project-4column-grid.html
        project-4column-grid.html.orig
        project-sidebar.html
        project-sidebar.html.orig
        project-single.html
        project-single.html.orig
        services.html
        services.html.orig
        shop.html
        shop.html.orig
        single-product.html
        single-product.html.orig
        testimonials.html
        testimonials.html.orig